.super-over-league-bg {
  background-color: #0f172a;
  text-align: center;
  padding: 50px;
}
.league-heading {
  color: #ffffff;
  font-size: 30px;
  text-align: center;
}
.image-sizing {
  height: 150px;
  width: 150px;
}
.images-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
